/*----------------Reset-CSS e Estilo geral----------------*/

body {
  background-color: #101010;
  color: white;
  font-family: 'Montserrat', 'Roboto', 'sans-serif', 'Arial';
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

/*----------------header----------------*/

.nav-header {
  background-color: #1D1D1D;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.75rem;
}

.nav-header ul {
  display: flex;
  gap: 1.5rem;
}

.a-botao-criar-branco {
  background-color: #fff;
  color: #1D1D1D;
  padding: 0.9rem 1.8rem;
  font-weight: bold;
  border-radius: 3.125rem;
}

.a-botao-entrar {
  color: #00D7C2;
  border: solid 2px #00D7C2;
  padding: 0.93rem 2.5rem;
  border-radius: 3.125rem;
  font-weight: bold;
}

.a-botao-espaco {
  padding: 0.9rem;
}

.span-barra-detalhe {
  background-color: #5D5D5D;
  max-width: 100%;
  height: 0.12rem;
}

.section-bancos h2{
  color: #00D7C2;
  font-size: 2rem;
  text-align: center;
  padding: 3.75rem 0 1.25rem;
}

.links-bancos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 0 3.75rem;
}

/*----------------main----------------*/

.section-main-01 {
  background-image: url(../export-final-img/victor-iaquA2snPbk-unsplash\ 1.png);
  background-size: cover; /* ou contain para ajustar a imagem ao tamanho do elemento */
  height: 58.125rem;
  padding: 0rem 0rem 0rem 3.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

}

.h1-gestao {
  color: #00D7C2;
  font-size: 4rem;
  font-weight: 600;
  width: 45.5rem;
}

.h3-gestao {
  color:  #747474;
  font-size: 3rem;
  font-weight: 300;
}

.h3-titulo-input {
  color: #FFF;
  font-family: Roboto;
  font-size: 2.25rem;
  font-weight: 200;
  padding: 3.75rem 0.5rem 3.05rem;
}

.h3-titulo-input a {
  display: inline;
  margin: 0.5rem;
}

.h3-titulo-input img {
  width: 1.5625rem;
  height: 1.875rem;
}

.div-gestao p {
  color: #747474;
  font-size: 1rem;
  font-weight: 300;
}

.container-input {
  position: relative;
}

.div-input {
  position: relative;
}

.div-input input {
  width: 48rem;
  height: 4rem;
  border-radius: 34.375rem;
  border: 2px solid #00D7C2;
  background: #101010;
  padding-right: 4rem;
}

.a-botao-criar-azul {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.01rem 2.5rem;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 3.125rem;
  background-color: #00D7C2;
  color: #fff;
}

.img-note-cell {
  max-width: 100%;
  height: 27.8125rem;
  padding: 0rem 0 0 12rem;
}